       .content {

      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 20px;
      padding: 100px;
      }

      .button {

      border: rgb(34, 0, 112);
      color: rgb(255, 255, 255);
      border-style: groove;
      font-weight: bolder;
      padding: 10px;
      font-size: 15px;
      border-radius: 12px;
      background-color: rgb(26, 138, 176);
      }
